/* BOX SIZING & RESET ===============================*/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

/* RESPONSIVE IMAGES ================================*/

img {
    max-width: 100%;
    height: auto;
}

/* CUSTOM PROPERTIES ================================*/

:root {
    --main-bg-color: #;
    --main-txt-color: #;
    --primary-color: #2E65FE;
    --secondary-color: #FFB414;
    --tertiary-color: #1a388d;
    --light-grey-color: #FAFAFA;
    --dark-grey-color: #424242;

    --container-width: 800px;
	
	--default-font-size: 16px;
	--xs-font-size: 0.64rem;
	--sm-font-size: 0.8rem;
	--l1-font-size: 1.25rem;
	--l2-font-size: 1.563rem;
	--l3-font-size: 1.953rem;
	--l4-font-size: 2.441rem;
	--l5-font-size: 3.052rem;
}

/* MAIN STYLING =====================================*/

body {
    font-family: 'Lato', sans-serif;
    font-size: var(--default-font-size);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
    text-align: center;
    background-color: #f9f9fa;
}

.container {
    width: var(--container-width);
    margin: 0 auto;
}

.container-narrow {
    width: 600px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: var(--l5-font-size);
}

h2 {
    font-size: var(--l3-font-size);
}

.box-shadow {
    box-shadow:
        0 1.2px 2.2px rgba(0, 0, 0, 0.02),
        0 3px 5.3px rgba(0, 0, 0, 0.028),
        0 5.6px 10px rgba(0, 0, 0, 0.035),
        0 10.1px 17.9px rgba(0, 0, 0, 0.042),
        0 18.8px 33.4px rgba(0, 0, 0, 0.05),
        0 45px 80px rgba(0, 0, 0, 0.07);
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.display-none {
    display: none;
}

/*===================================================*/
/* SECTIONS =========================================*/
/*===================================================*/

/* HEADER ===========================================*/

header {
    padding-top: var(--l5-font-size);
    padding-bottom: 5.96rem;
}

header h2 {
    margin-top: var(--l1-font-size);
}

/* CALC =============================================*/

#calc {
    transition: opacity 0.7s;
}

#calc-form {
    display: grid;
    row-gap: var(--xs-font-size);
    width: 205px;
    margin: 0 auto;
}

#calc-form input,
#calc-form select {
    width: 200px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--dark-grey-color);
    border-radius: var(--xs-font-size);
    outline: none;
}

#form-button,
#start-again {
    font: inherit;
    width: max-content;
    padding: 1rem;
    margin: var(--l1-font-size) auto 0;
    background-color: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: var(--xs-font-size);
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

#form-button:hover,
#start-again:hover {
    background-color: var(--tertiary-color);
}

/* RESULTS ==========================================*/

main {
    position: relative;
}

#results-div {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: var(--l2-font-size) 1rem;
    transition: opacity 0.7s;
}

#results-div h2 {
    margin-bottom: var(--l1-font-size);
}

#results-div p {
    margin-bottom: 1rem;
}

/* FOOTER ===========================================*/

footer {
    padding-top: var(--l5-font-size);
}

footer a {
    color: var(--secondary-color);
}

/*==================================================*/
/*==================================================*/
/* MEDIA QUERIES - TABLET LANDSCAPE 1024px =========*/

@media only screen and (max-width: 1024px) {
    
    .container {
        width: 100%;
    }

    header {
        padding-top: 0;
    }

}

/*==================================================*/
/* MEDIA QUERIES - TABLET PORTRAIT 768px ===========*/

@media only screen and (max-width: 768px) {
    
    .container-narrow {
        width: 100%;
    }

    header {
        padding-bottom: var(--l5-font-size);
    }
}

/*==================================================*/
/* MEDIA QUERIES - MOBILE 544px ====================*/

@media only screen and (max-width: 544px) {
    


}
